:host {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  min-width: 288px;
  max-width: 600px;
  width: 100%;
  height: 430px;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  background: whitesmoke;
  border-radius: 8px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
}

h1 {
  font-size: 1.5em;
}

.start {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 120px;
  height: 40px;
  margin-top: 0;
  transition: margin-top .2s;
}

.start.isMargined {
  margin-top: 210px;
}

.überschrift {
  margin-top: 0;
  transition: margin-top .2s;
}

.überschrift.isMargined {
  margin-top: 140px;
}

.behälter {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ergebnis {
  position: absolute;
  top: -40px;
  left: 0;
  width: 70px;
  display: flex;
  justify-content: space-between;
  padding: 4px 8px;
  border-radius: 8px;
  text-align: left;
  background: whitesmoke;
}

.languages {
  position: absolute;
  top: -40px;
  right: 0;
  width: 90px;
  display: flex;
  justify-content: space-between;
  padding: 4px 8px;
  border-radius: 8px;
  text-align: left;
  background: whitesmoke;
}

.radio {
  display: flex;
  align-items: center;
}

input[type=radio] {
  margin: 2px 4px 0 0;
}

.steuerElemente {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 40px;
}

button {
  width: 100px;
  height: 40px;
  margin: 0 8px;
  font-size: 16px;
  border-radius: 8px;
  background: white;
}

.beschreibung {
  margin: 16px auto 0;
  padding: 0 16px;
}

.wort {
  max-width: calc(100% - 32px);
  min-height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 16px;
  padding: 4px 16px;
  background: grey;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
  word-break: break-all;
  text-transform: uppercase;
  color: white;
  border-radius: 8px;
}

.weiter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px auto 0;
  font-size: 18px;
}

.richtig {
  color: limegreen;
  font-weight: bold;
}

.falsch {
  color: tomato;
  font-weight: bold;
}

.weiterSchaltfläche {
  margin-top: 8px;
}

.ende {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 200px;
  height: 120px;
  font-size: 18px;
}

.neustartschaltfläche {
  width: 160px;
}

.isHidden {
  display: none;
}

@media (min-width: 768px) {
  .wort {
    font-size: 18px;
  }
}
